* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 6px 0;
    gap: 5px;
}

.notification {    
    padding: 12px;
}

.notification.success {
    background-color: lightgreen;
    border: 2px solid green;
    color: darkgreen;
}

.notification.error {
    background-color: red;
    border: 2px solid darkviolet;
    color: darkred;
}