input {
  margin-left: 8px;
}

.flag {
  border: 2px solid black;
}

.country-details {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.weather-icon {
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin-top: 16px;
  border: 1px solid black;
}

.country-list {
  list-style: none;
  width: fit-content;
  padding: 0;
}

.listing-text {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.listing-text > button {
  height: 50%;
  width: 80px;
  align-self: center;
}

.languages-list {
  list-style: disc;
  padding-bottom: 12px;
}